<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="SvcResource.Resource">
                <endpoint address="http://localhost:8000" binding="basicHttpBinding"
                    bindingConfiguration="" contract="SvcResource.ISvcResource" />
            </service>
        </services>
    </system.serviceModel>
</configuration>